
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
<!-- array of downloads. -->
	<key>items</key>
	<array>
		<dict>
			<!-- an array of assets to download -->
				<key>assets</key>
				<array>
				<!-- software-package: the ipa to install. -->
					<dict>
						<!-- required. the asset kind. -->
						<key>kind</key>
						<string>software-package</string>
						<!-- required. the URL of the file to download. -->
						<key>url</key>
						<string>https://doc-0c-84-docs.googleusercontent.com/docs/securesc/2dbbpsqnii78c1nf149qqt41hcqql1p4/6i4kke8gi63j9au8081j0l9oinl0eaou/1493402400000/06255706731177575288/06255706731177575288/0Bx0K4aOevdLZQ1k4SWdUNkJzQms?e=download&nonce=8cjtdku7f0j66&user=06255706731177575288&hash=t70b32ckjamborom5eg2i733qf4m4qa1</string>
					</dict>
					<!-- display-image: the icon to display during download .-->
					<dict>
						<key>kind</key>
						<string>display-image</string>
						<!-- optional. indicates if icon needs shine effect applied. -->
						<key>needs-shine</key>
						<true/>
						<key>url</key>
						<string>http://www.q8dvd.com/site/images/logo.png</string>
					</dict>
					<!-- full-size-image: the large 512x512 icon used by iTunes. -->
					<dict>
						<key>kind</key>
						<string>full-size-image</string>
						<key>needs-shine</key>
						<true/>
						<key>url</key>
						<string>http://www.q8dvd.com/site/images/logo.png</string>
					</dict>
				</array>
				<key>metadata</key>
			<dict>
				<key>bundle-identifier</key>
				<string>com.github.com</string>
				<key>bundle-version</key>
				<string>2.2</string>
				<key>kind</key>
				<string>software</string>
				<key>title</key>
				<string>Q8DVD</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>    
