<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>assets</key>
			<array>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>http://www.alltechfeed.com/wp-content/uploads/2017/03/tutu-helper.png</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>full-size-image</string>
					<key>needs-shine</key>
					<false/>
					<key>url</key>
					<string>http://www.alltechfeed.com/wp-content/uploads/2017/03/tutu-helper.png</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>display-image</string>
					<key>needs-shine</key>
					<false/>
					<key>url</key>
					<string>http://www.alltechfeed.com/wp-content/uploads/2017/03/tutu-helper.png</string>
				</dict>
			</array>
			<key>metadata</key>
			<dict>
				<key>bundle-identifier</key>
				<string>com.intelcent.iCallLiaoLeMe
</string>
				<key>bundle-version</key>
				<string>2.5.0</string>
				<key>kind</key>
				<string>software</string>
				<key>subtitle</key>
				<string>tutu vip</string>
				<key>title</key>
				<string>tutu vip By زي خبير ابل</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
